{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<header>
	<div class="text-center header my-5">
		<div class="mb-5 festTitle name">Multiply Game</div>
		<div class="lead festSent citation">Faites marcher vos ménages !</div>
	</div>
</header>
